@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

   #mobileWrapper {

    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    position: relative;
    background-image: url(./assets/trophieLogo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

#welcometop {
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    padding-top:15vh;


}
#welcome {
    color:white;
    font-size: 8vw;
    font-weight: 700;
    font-family: Montserrat;
    

}
#TrophieLogo {

}
#CLYFM {
    color:white;
    font-size: 5vw;
    font-weight: 600;
    font-family: Montserrat;

}
#buttonWrapper {
    margin-top: 5vh;
    width:100%;
    display:flex;
    flex-direction: column;
   justify-content: center;
    

}
.whiteButton {

    width:75%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: white;
    border-radius: 2vw;
    align-content: center;
    margin-bottom: 2vh;
}
.buttonText {
    color:black;
    font-size: 4vw;
    font-weight: 600;
    font-family: Montserrat;

}
#buttonImg {

}







/* ab hier hide -> größer als mobile  */
@media (min-width: 800px) { 


    #mobileWrapper {

        display:none;
    }
 

 }