@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


#mobileWrapperreg {

    display:flex;
    flex-direction: column;
    width:100%;
    position: relative;
    height:100%;
    


}
.menueBar{

    width:100%;
    background-color: rgb(195,235,239);
    padding-left: 5vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#trophieLogoQu{

    width:20%;
}

.registerWrapper {

    padding-left:8vw;
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
    padding-right: 8vw;
}









/* ab hier hide -> größer als mobile  */
@media (min-width: 800px) { 


    #mobileWrapperreg {

        display:none;
    }
 

 }